---
layout: default
---
<section id="banner">
  <h2>{{ page.title }}</h2>
  <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
</section>

<section id="main" class="container">
  <section class="box special">
    <header class="major">
    <h2>{{ page.intro }}</h2>
    </header>
    <span class="image featured"><img src="{{ page.image }}" alt="" /></span>
  </section>

  <div class="post box">
    {{ content }}
  </div>
</section>
